@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.hero-img {
    background-image: linear-gradient(#00000043, #0000008c), url('./assets/Image/mainBg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000;
}